



:root {
	--negro: #29272a;
	--naranja: #f69c21;
	--naranjaoscuro: #ff6f12;
	--blanco: #FFF;
	--negroclaro: #BBB;
	--gris: #F0f0f0;
	--grisclaro: #555450;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--negro);
	background-image: url("images/pattern.jpg");
	font-family: arial, sans-serif;
	
}

h2 {
	font-size: 20px;
	margin-bottom: 16px;
}

.cabecera {
	/* background-color: red; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 16px;
	margin-bottom: 24px;
	
}
h1 {
	color: var(--naranja);
	
}

.contenedor {
	background-color: var(--blanco);
	margin: auto;
	max-width: 1000px;
	border-radius: 10px 10px 0 0;
	
}


/* menu */

.botonera {
	
	background-color: var(--naranjaoscuro);
	height: 57px;
	padding-left: 15px;
	padding-bottom: 6px;
	padding-top: 12px;
	border-radius: 10px 10px 0 0;

	
}

.botonera-lista {
	display:flex;
	justify-content:space-between;
	list-style: none;
	

}
.botonera-lista li {
	flex-grow: 1;
	
}
.botonera-lista_formulario {
	margin-left: 150px;
	padding-top: 3px;
}

.botonera-lista_formulario input { 
padding: 2px 4px;
}

.botonera-lista a {
	text-decoration: none;
	font-weight: bold;
	border-right: 1px solid var(--blanco);
	color: var(--blanco);
	display: block;
text-align: center;	
padding: 8px 0;
	
}
a.sinborde {
	border-right: none;
}
.botonera-lista a:hover {
	color: var(--negro);
}


/* slider */


.slider {
	text-align: center;
	margin-top: 30px;
}


/* seccion categorias */
.categorias {
	margin-top: 50px;
	width: 20%;
	float: left;
	margin-bottom: 25px;

	
}
.categorias h2 {
	padding-left: 25px;
}

.categoria-lista {
	list-style: none;
	padding-left: 35px;
	
	
	
}
.categoria-lista li {
	border-bottom: 1px dashed var(--negroclaro);
	
	

}

.categoria-lista a {
	text-decoration: none;
	color: var(--negro);
	display: block;
	padding: 6px 0;
	
}

.categoria-lista a:hover{
	color: var(--naranja);
	font-weight: bold;
	
}


/* seccion productos  */
.productos {
	margin-top: 50px;
	width: 80%;
	float: right;
	
}

.lampara {

	float: left;
	max-width:50%;
		padding-left: 25px;
		padding-right:25px;
		padding-bottom: 30px;
}
.lampara img {
	float: left;
}
.lampara p {
	float:right;
	max-width: 50%;
	padding-left: -10px;
	padding-top: 10px;
	
}




/* newsletter  */
.newsletter {
	clear:both;
	max-width: 940px;
	margin-left: auto;
	margin-right: auto;
	
	background-image: linear-gradient(var(--blanco),
						var(--negroclaro));
	
	
	
	border: 1px solid var(--negroclaro);
	padding: 10px 24px;
	overflow: auto;
	border-radius: 5px;
	
	
	
}

.newsletter img {
	float: left;
	
}
.newsletter-info {
	float: left;
	padding-left: 35px;
	font-size: 10pt;
}

.newsletter-info p {
	padding-left: 30px;
}


.newsletter-form {
	float: right;
	padding-top: 7px;
	
}

.newsletter-form [type="submit"] {
	background: none;
	border: none;
	cursor: pointer;
	
	font-weight: bold;
	padding: 5px 8px;
	
}

	/* pie */
	
	.pie {
		margin-top: 30px;
		background-color: var(--gris);
		padding: 6px 50px;
		border-top: 1px solid var(--negro);
		font-size: 10pt;
		color: var(--grisclaro);
		
	}
	
	.pie-copy, .pie-china, .pie-argentina {
		float: left;
	}
	.pie-copy {
		margin-right: 20px;
	}
	
	.pie-china {
		border-right: 1px solid var(--grisclaro);
		padding-right: 20px;
		margin-right: 20px;
	}
	
	.pie-creditos {
		clear: both;
		text-align: right;
	}
	
	.pie-creditos a {
	color: var(--grisclaro);
	font-family: 'Lobster Two', cursive;

	}
	
	.pagina-empresa .productos {
		
		padding-left: 20px;
		
		
	}
	
	.pagina-empresa .categorias {
		margin-bottom: 40px;
	}



